.Task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 10px auto;
    border: 1px solid #eee;
    box-shadow: 0 2px 2px #ccc;
    box-sizing: border-box;
    width: 80%;
    text-align: center;
}

.infoBox {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
}

.adminMenu img {
    display: flex;
    flex-direction: column;
    width: 30px;
    height: 30px;
    margin: 10px;
    padding: 10px;
}

.adminMenu img:hover {
    background-color: #ccc;
    cursor: pointer;
}