.ToolBar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(161, 138, 116);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.ToolBar a {
    margin: 0 20px;
    font-weight: 700;
}